.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
wlmoj/local_settings.py
resources/dark
resources/martor-description.css
resources/select2-wlmoj.css
resources/style.css
resources/vars.scss
sass_processed
